:root {
    font-family: 'Fira Code';
}

html[data-theme="light"] {
    --font-size: 16px;
    --bg-color: #ffffff;
    --middle-color: #253092;
    --main-color: #04010a;
    --similar-color: #04010b;
    --similar-bg-color: #fffafb;
    --red: #bf3011;
    --cherry: #fd5ff0;
    /* --cherry: #69122d; */
    --orange: #df8022;
    --yellow: #e5b527;
    --mint: #26d07e;
    --green: #06694a;
    --blue: #3896d4;
    --indigo: #253092;
    --purple: #820d7c;
    --gray: #929292;
    --light-gray: LightGray;
    color: var(--main-color);
    --ident-color: #820d7c;
    --old-string-color: #c29580;
    --string-color: #871094;
    --old-number-color: #6a8759;
    --number-color: #067d17;
    --bracket-color: #b17215;
}

html[data-theme="dark"] {
    --font-size: 16px;
    --bg-color: #282a36;
    --middle-color: #3896d4;
    /* --main-color: snow; */
    --main-color: #cfcfc2;
    --similar-color: #cfcfc3;
    --similar-bg-color: #04010b;
    --red: #bf3011;
    --cherry: #fd5ff0;
    --orange: #df8022;
    --yellow: #e5b527;
    --mint: #06694a;
    --green: #26d07e;
    --blue: #3896d4;
    --indigo: #253092;
    --purple: #820d7c;
    --gray: #929292;
    --light-gray: gray;
    color: var(--main-color);
    --ident-color: #cfcfc2;
    --string-color: #f1fa8c;
    --number-color: #e69749;
}

body {
    height: 100%;
}

#editor {
    /* margin-left: 25%; */
    /* margin-top: 25%; */
    width: minmax(500px, 50%);
    height: 500px;
    border-width: 2px;
    border-color: var(--main-color);
}

.box {
    --b: 10px;
    /* thickness of the border */
    --c: var(--gray);
    /* color of the border */
    --w: 10px;
    /* width of border */


    border: var(--b) solid #0000;
    /* space for the border */
    --_g: #0000 90deg, var(--c) 0;
    --_p: var(--w) var(--w) border-box no-repeat;
    background:
        conic-gradient(from 90deg at top var(--b) left var(--b), var(--_g)) 0 0 / var(--_p),
        conic-gradient(from 180deg at top var(--b) right var(--b), var(--_g)) 100% 0 / var(--_p),
        conic-gradient(from 0deg at bottom var(--b) left var(--b), var(--_g)) 0 100% / var(--_p),
        conic-gradient(from -90deg at bottom var(--b) right var(--b), var(--_g)) 100% 100% / var(--_p);

    /*Irrelevant code*/
    width: 120px;
    height: 100px;
    box-sizing: border-box;
    margin: 0px;
    display: inline-flex;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.outline {
    border: 5px solid var(--gray);
    box-sizing: border-box;
    margin-bottom: 10px;
    width: 129px;
}